<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.database_project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Database_project">
        <activity
            android:name=".char_query.QueryCharEditPage"
            android:exported="false" />
        <activity
            android:name=".char_query.QuerySearchResults"
            android:exported="false" />
        <activity
            android:name=".char_query.InstanceResultPage"
            android:exported="false" />
        <activity
            android:name=".char_creator.CharActivity3"
            android:exported="false" />
        <activity
            android:name=".char_query.QueryPage"
            android:exported="false" />
        <activity
            android:name=".char_creator.CharActivity2"
            android:exported="false" />
        <activity
            android:name=".char_creator.CharActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>